events {}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    upstream django_backend {
        {% for host in groups['app'] %}
        server {{ hostvars[host]['ansible_ssh_host'] }}:8000;
        {% endfor %}
    }

    server {
        listen 80;

        location / {
            include proxy_params;
            proxy_pass http://django_backend;
        }

        location /static/ {
            alias /opt/django_app/staticfiles/;
        }

        location /media/ {
            alias /opt/django_app/media/;
        }

        location = /favicon.ico {
            access_log off;
            log_not_found off;
        }
    }
}
